@media screen and (max-width: 980px) {

	#rules {
		position: relative;
		right: 90px;
	}

	#score {
		position: relative;
		right: 90px;
	}

	#game-number {
		position: relative;
		right: 90px;
	}

	#one {
		position: relative;
		right: 100px;
	}

	#two {
		position: relative;
		left: 10px;
		bottom: 98px;
	}

	#three {
		position: relative;
		left: 120px;
		bottom: 200px;
	}

	#four {
		position: relative;
		left: 250px;
		bottom: 298px;
	}

	#score-text {
		position: relative;
		right: 90px;
		bottom: 300px;
	}

	#score-points {
		position: relative;
		right: 90px;
		bottom: 300px;
	}
}

@media screen and (max-width: 768px) {

	#rules {
		position: relative;
		right: 80px;
	}

	#game-number {
		position: relative; 
		right: 80px;
	}

	#score {
		position: relative;
		right: 80px;
	}
	#score-text {
		position: relative;
		right: 80px;
	}

	#score-points {
		position: relative;
		right: 80px;
	}
}

@media screen and (max-width: 640px) {
	
	#rules {
		position: relative;
		right: 10px;
	}

	#score {
		position: relative;
		right: 10px;
	}

	#game-number {
		position: relative;
		right: 10px;
	}

	#one {
		position: relative;
		left: 10px;
	}

	#two {
		position: relative;
		left: 135px;
		bottom: 98px;
	}

	#three {
		position: relative;
		left: 255px;
		bottom: 200px;
	}

	#four {
		position: relative;
		left: 385px;
		bottom: 298px;
	}

	#score-text {
		position: relative;
		right: 10px;
		bottom: 300px;
	}

	#score-points {
		position: relative;
		right: 10px;
		bottom: 300px;
	}
}